#pole_manager_code_reader_close_button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

#pole_manager_code_reader_canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
}

#pole_manager_code_reader_message {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 10%;
  width: 100%;
  background: rgb(117,117,117);
  color: white;
}

button.pole_manager_code_reader_button {
  border: none;
  background: darkgrey;
  border-radius: 50%;
}
